@model LoginandR.Models.Feedback

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact V10</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="Area/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="Area/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="Area/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="Area/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="Area/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="Area/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="Area/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="Area/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="Area/css/util.css">
    <link rel="stylesheet" type="text/css" href="Area/css/main.css">
    <!--===============================================================================================-->
</head>
<body>


    @using (Html.BeginForm())

    {

        @Html.AntiForgeryToken()
        <div class="container-contact100">

            <div class="wrap-contact100">
                <form class="contact100-form validate-form">
                    <span class="contact100-form-title">
                        Send Us A Feedback
                    </span>
                        @Html.HiddenFor(m => m.uID)

                    <div class="wrap-input100 validate-input" >
                        @Html.TextBoxFor(m => m.User.uUsername, "", new { @placeholder = "Username", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.User.uUsername, "", new { @class = "badge badge-danger" })
                    </div>

                    <div class="wrap-input100 validate-input" >
                        @Html.EditorFor(m => m.fDate, new { htmlAttributes = new { @placeholder = "Feedback Date", @class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.fDate, "", new { @class = "badge badge-danger" })
                    </div>


                    <div class="wrap-input100 validate-input" >
                        @Html.TextBoxFor(m => m.fMessage, "", new { @class = "form-control", @placeholder = "Feedback Message" })
                        @Html.ValidationMessageFor(m => m.fMessage, "", new { @class = "badge badge-danger" })
                    </div>

                    <div class="container-contact100-form-btn">
                        <button class="contact100-form-btn">
                            <span>
                                <i class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i>
                                Send
                            </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    }



    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="Area/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="Area/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="Area/vendor/bootstrap/js/popper.js"></script>
    <script src="Area/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="Area/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="Area/vendor/daterangepicker/moment.min.js"></script>
    <script src="Area/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="Area/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="Area/js/main.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>

</body>
</html>